.container{
    margin-top:46px;
}
.card{
    width: 560px;
    margin-left: 321px;
}
.first{
    width:507px;
    margin-left: 81px;
    margin-top: 2px;
}
.btn{
    margin-left: 60px;
}
input.ng-invalid.ng-touched{
    border-radius: 2px;
    border-color: red;
}
input{
    height: 30px;
}