<button class="btn btn-primary mx-2 my-2" routerLink="/Home">Go Back</button>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card text-center">

                <div class="card-header" style="background-color: rgb(236, 236, 158);">
                    <h2>Featured <b style="color:blue">Punch</b></h2>
                </div>
                <div class="card-body">
                    <img src="https://stimg.cardekho.com/images/car-images/large/Hyundai/Hyundai-i10/hyundai-i10-sleek-white.jpg?tr=w-880,h-495" width="1000px">
                        <br>
                    <h4 class="card-title">Special title treatment</h4>
                    <pre>
* - Based on exterior body colours
** - Interior colour packs based on dual tone
exterior colour

<img src="https://stimg.cardekho.com/images/road-test/hyundai-i10/Large/Interior/Hyundai-i10/050.jpg?tr=w-880,h-495" alt="">
*** - through Android Auto & Apple CarPlay only
# - works with compatible smartphone only
### - Smartphone navigation through mirroring
## - Not applicable for CNG
^ - Turbo available In polar white and aqua teal
body colours
^^ - Available only in select powertrain - engine options
S& - AMT & DT only
S@ - MT & AMT only
Also available in Magna AMT

<b><h4>Disclaimer</h4></b>

<img src="https://stimg.cardekho.com/images/road-test/hyundai-i10/Large/Interior/Hyundai-i10/059.jpg?tr=w-880,h-495" alt="">

• Some of the equipments illustrated or described in the leaflet may not be supplied as standard equipment and may be available at extra cost.
• Hyundai Motor India reserves the right to change specifications and equipment without prior notice.
• The colour plates shown may vary slightly from the actual colours due to the limitations of the web image process.
• Please consult your dealer for full information and availability on colours and trim.
                    </pre>
                    <a href="#" class="btn btn-primary" routerLink="/Home">Go Back</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>

