<button class="btn btn-primary mx-2 my-2" routerLink="/Home">Go Back</button>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card text-center">

                <div class="card-header" style="background-color: rgb(236, 236, 158);">
                    <h2>Featured <b style="color:blue">Creta</b></h2>
                </div>
                <div class="card-body">
                    <img src="https://stimg.cardekho.com/images/car-images/930x620/Hyundai/Creta/7695/1651738469758/224_Polar-white-with-phantom-black-roof_e5e9ec.jpg?tr=w-880,h-495"
                        style="width: 1000px;">
                    <h4 class="card-title">Special title treatment</h4>
                    <p>Creta Specs, Features and Price
                        The Hyundai Creta has 1 Diesel Engine and 2 Petrol Engine on offer. The Diesel engine is 1493 cc
                        while the Petrol engine is 1497 cc and 1353 cc . It is available with Manual & Automatic
                        transmission.Depending upon the variant and fuel type the Creta has a mileage of 16.8 to 21.4
                        kmpl . The Creta is a 5 seater 4 cylinder car and has length of 4300, width of 1790 and a
                        wheelbase of 2610.</p>
                    <img src="https://media.zigcdn.com/media/model/2022/May/steering-close-up-1092947154_930x620.jpg"
                        alt="">
                    <pre>
<b>Engine and Transmission</b>
Engine Type1.5 L 
U2 CRDi DieselDisplacement 
(cc)1493Max Power113.45bhp@4000rpmMax 

Torque250nm@1500-2750rpmNo. of cylinder4Valves Per Cylinder4Valve 
ConfigurationDOHCFuel Supply SystemCRDiTurbo 
ChargerTransmissionTypeAutomaticGear Box6-speedReport Incorrect Specs
HyundaiDon't miss out on the best offers for this Month

<b>Check June Offer</b>
<img src="https://media.zigcdn.com/media/model/2022/May/cabin-view-885999391_930x620.jpg" alt="">
Fuel & Performance
Fuel TypeDieselMileage (ARAI)18.5
Fuel Tank Capacity (Litres)50.0

Emission Norm ComplianceBS VIReport Incorrect Specs
Suspension, Steering & Brakes
Front SuspensionMcPherson 

strut with coil springRear 
SuspensionCoupled torsion beam axleSteering 
TypePowerSteering ColumnTiltFront Brake 

TypeDiscRear Brake TypeDiscReport Incorrect Specs
HyundaiDon't miss out on the best offers for this Month

Check June Offer

Dimensions & Capacity
Length (mm)4300Width (mm)1790Height (mm)1635Seating Capacity5Wheel Base (mm)2610No of Doors5Report Incorrect Specs
HyundaiDon't miss out on the best offers for this Month
Check June Offer
Comfort & Convenience

                        </pre>

                    <a href="#" class="btn btn-primary" routerLink="/Home">Go Back</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>