<button class="btn btn-primary mx-2 my-2" routerLink="/Home">Go Back</button>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card text-center">

                <div class="card-header" style="background-color: rgb(236, 236, 158);">
                    <h2>Featured <b style="color:blue">Punch</b></h2>
                </div>
                <div class="card-body">
                    <img src="https://cars.tatamotors.com/images/kaziranga/punch-kaziranga-desktop-banner-1.png" width="100%">
                        <br>
                    <h4 class="card-title">Special title treatment</h4>
<pre>
    <b>Tata Punch Latest Updates</b>

Tata recently launched the Kaziranga Edition for the Punch. It is a tribute to the endangered 
Indian rhino and is available on the Creative trim level of the micro SUV.

The special edition offers the micro SUV with a new paint hue, blacked-out wheels, 
a dual-tone black roof, and rhino motifs on the exterior and in the cabin.
 The interior is upholstered in a new ‘Earthy Beige’ fabric,
 and features a black-themed dashboard and unique interior trim.


<b>Tata Punch Engine</b>

<img src="https://cars.tatamotors.com/images/punch/punch-with-performance.jpg" alt="">

The Punch uses a 86PS/113Nm 1.2-litre petrol engine (from the Altroz), paired with 5-speed manual and 5-speed AMT options. 
The micro SUV is 3,827mm long, 1,742mm wide, and 1,615mm tall. It has a 2,445mm wheelbase and stands clear of the ground by 187mm.
Tata Punch Variants
The Tata Punch is available in four broad trims: Pure, Adventure, Accomplished, 
and Creative. The top-spec Creative trim gets the Kaziranga Edition.

It can be had in seven colour options: Tornado Blue, Calypso Red, Meteor Bronze, 
Atomic Orange, Tropical Mist, Daytona Grey, and Orcus White. The first two are limited to the top-spec Creative trim.
 All colours come with a black roof, while the last two get a white roof in the top-spec Creative trim.


<b>Tata Punch Features</b>

<img src="https://cars.tatamotors.com/images/punch/punch-with-comfort-space.jpg" alt="">

Tata offers the Punch with a 7-inch touchscreen system with Apple CarPlay and Android Auto, a Harman sound system, 
connected car tech, a semi-digital instrument cluster, 
</pre>
                    <a href="#" class="btn btn-primary" routerLink="/Home">Go Back</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>

